body {
    background-color: black;
}

header {
    color: white;
}

.ball {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 100px auto;
    
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball1 {
    background-color: purple;
}

.ball2 {
    background-color: darkcyan;
}