:root {
    --ball-size: 100px;
}

body {
    background-color: black;
}

header {
    color: white;
}

.ball {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: purple;
    width: var(--ball-size);
    height: var(--ball-size);
    border-radius: 50%;
    margin: 100px auto;

    font-size: 22px;
    font-weight: bold;
}